:root 
{
    --heade-title-background-color: #FFFFFF;
    --main-hero-background-color: #2F303A;
    --footer-background-color: #2F303A;
    --header-footer-logo1-color: #2196F3;
    --header-logo2-color: #000000;
    --footer-logo2-color: #FFFFFF;
    --heade-navigation-color: #212121;
    --heade-contacts-color: #757575;
    --hover-focus-color: #2196F3;
    --main-h1-color: #FFFFFF;
    --main-h2-hero-color: #212121;
    --main-h3-hero-color: #212121;
    --main-p-hero-color: #757575;
    --main-hero-btn-color: #FFFFFF;
    --main-hero-btn-background-color: #2196F3;
    --main-hero-btn-hover-background-color: #188CE8;
    --main-team-background-color: #F5F4FA;
    --footer-adress-text-color: #FFFFFF;
    --footer-adress-cont-color: rgba(255, 255, 255, 0.6);
    --portfolio-main-buttons-color: #FFFFFF;
    --portfolio-main-buttons-hover-color: #188CE8;
    --portfolio-main-buttons-background-color: #F5F4FA;
    --main-portf-h3-hero-color: #212121;
    --main-portf-p-hero-color: #757575;
    --current-page-color: #2196F3;
    
}
body
{
    font-family: 'Roboto', sans-serif;
}
*
{
<<<<<<< Updated upstream
    box-sizing: border-box;
=======
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    outline: 2px solid red;
>>>>>>> Stashed changes
}
.visually-hidden 
{
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.link
{
    text-decoration: none;
}
ul 
{
    list-style: none;   
}
/* <---------- HEDER ----------> */
.header 
{
<<<<<<< Updated upstream
    background-color: var(--heade-title-color);
}
.header-logo
{  
    width: 1600px;
    height: 80px;       
    margin-bottom: 25px;
    margin-left: 215px; 
=======
    background-color: var(--heade-title-background-color);
}
.header-conteiner
{
    display: flex;
    align-items: center;
}
.navigation
{
    display: flex;
    align-items: center;
>>>>>>> Stashed changes
}
.nav-logo1, .nav-logo2
{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--header-footer-logo1-color)
}
.nav-logo2 
{
    color: var(--header-logo2-color)
}
.header-nav-text, .header-cont-tex
{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--heade-navigation-color);
<<<<<<< Updated upstream
    cursor: pointer;
=======
    padding: 32px 0px;
    display: block;
>>>>>>> Stashed changes
}
.header-position-nav
{
    width: 294px;
    height: 16px;
    gap: 50px;
<<<<<<< Updated upstream

=======
    margin-left: 93px;
>>>>>>> Stashed changes
}
.header-cont-tex
{
    color: var(--heade-contacts-color);
}
.header-position-cont
{   
    width: 122px;
    height: 16px;
    gap: 50px;
<<<<<<< Updated upstream
=======
    margin-left: auto;
>>>>>>> Stashed changes
}
.header-link:hover,
.footer-link:hover,
.header-link:focus,
.footer-link:focus
{
    color: var(--hover-focus-color)
}
.current 
{
    color: var(--current-page-color)
}
/* <---------- MAIN ----------> */
.main-hero 
{
<<<<<<< Updated upstream
    background-color: var(--main-hero-background-color)
=======
    background-color: var(--main-hero-background-color);
    padding: 200px 0px;
    text-align: center;
>>>>>>> Stashed changes
}
.main-hero-h1                   
{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
<<<<<<< Updated upstream
    color: var(--main-h1-color)
}
.main-hero-btn 
{
=======
    color: var(--main-h1-color);
    margin-left: auto;
    margin-right: auto;
}
.main-hero-btn 
{
    height: 50px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
>>>>>>> Stashed changes
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--main-hero-btn-color);
    background-color: var(--main-hero-btn-background-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
<<<<<<< Updated upstream
    cursor: pointer;
=======
    margin-top: 30px;
    padding: 10px 32px;
>>>>>>> Stashed changes
}
.main-hero-btn:hover 
{
    background-color: var(--main-hero-btn-hover-background-color)
}
.about
{
<<<<<<< Updated upstream
=======
    padding-top: 94px;
    padding-bottom: 94px;
}
.about-text
{
>>>>>>> Stashed changes
    display: flex;
}
.main-about-h3
{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-h3-hero-color)
}
.main-about-p
{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
<<<<<<< Updated upstream
    color: var(--main-p-hero-color)
=======
    color: var(--main-p-hero-color);
    margin-top: 10px;
}
.projects
{
    margin-bottom: 94px;
>>>>>>> Stashed changes
}
.projects-h2
{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--main-h2-hero-color)
}
.projects-imgs
{
    display: flex;
    gap: 30px;
}
.team
{
<<<<<<< Updated upstream
    background-color: var(--main-team-background-color) 
=======
    background-color: var(--main-team-background-color);
    padding: 94px 0px;
>>>>>>> Stashed changes
}
.team-h2
{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--main-h2-hero-color)
}
.team-ppl
{
    display: flex;
    gap: 30px;
}
.team-ppl-name
{
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19/16);
    letter-spacing: 0.03em;
    color: var(--main-h2-hero-color)
}
.team-ppl-position
{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-p-hero-color)
}
/* <---------- FOOTER ----------> */
.footer
{
<<<<<<< Updated upstream
    background: var(--footer-background-color)
=======
    background: var(--footer-background-color);
    padding: 60px 0px;
>>>>>>> Stashed changes
}
.adress-logo1, .adress-logo2
{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--header-footer-logo1-color)
}
.adress-logo2 
{
    color: var(--footer-logo2-color)
}
.footer-adress2, .footer-adress-mail, .footer-adress-tel
{
<<<<<<< Updated upstream
    font-family: 'Roboto';
    font-style: normal;
=======
    font-family: 'Roboto', sans-serif;
>>>>>>> Stashed changes
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-adress-text-color)
}
.footer-adress-mail, .footer-adress-tel
{
    color: var(--footer-adress-cont-color)
}
.port-buttons
{
    display: flex;
<<<<<<< Updated upstream
    gap: 8px;  
=======
    gap: 8px;
    padding-top: 94px;
    margin-left: 285px;
>>>>>>> Stashed changes
}
.port-buts
{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    margin-right: 8px;
    background: var(--portfolio-main-buttons-background-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: none;

}
.port-buts:hover
{
    color: var(--portfolio-main-buttons-color);
    background-color: var(--portfolio-main-buttons-hover-color);
<<<<<<< Updated upstream
<<<<<<< HEAD
    }
.port-projects-container
{  
    max-width: 1170px;
    margin-left: 215px;
    margin-top: 34px;
=======
>>>>>>> Stashed changes
}
.port-projects-card-set
{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
    margin-top: 50px;    
}
.port-proj-item
{
    flex-basis: calc((100% - 60px) / 3);
    width: 370px;
    height: 404px;
=======
>>>>>>> mod-2
}
.prot-h3
{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-portf-h3-hero-color);
<<<<<<< Updated upstream
=======
    padding-left: 24px;
    margin-top: 20px;
>>>>>>> Stashed changes
}
.link-port-proj 
{
    color: var(--main-portf-h3-hero-color)
}
.port-p
{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
<<<<<<< Updated upstream
    color: var(--main-portf-p-hero-color)
=======
    color: var(--main-portf-p-hero-color);
    padding-left: 24px;
    margin-top: 4px;
>>>>>>> Stashed changes
}

