:root
/* ----- Colors ----- */
{
    --heade-title-background-color: #FFFFFF;
    --main-hero-background-color: #2F303A;
    --footer-background-color: #2F303A;
    --header-footer-logo1-color: #2196F3;
    --header-logo2-color: #000000;
    --footer-logo2-color: #FFFFFF;
    --heade-navigation-color: #212121;
    --heade-contacts-color: #757575;
    --hover-focus-color: #2196F3;
    --main-h1-color: #FFFFFF;
    --main-h2-hero-color: #212121;
    --main-h3-hero-color: #212121;
    --main-p-hero-color: #757575;
    --main-hero-btn-color: #FFFFFF;
    --main-hero-btn-background-color: #2196F3;
    --main-hero-btn-hover-background-color: #188CE8;
    --main-team-background-color: #F5F4FA;
    --footer-adress-text-color: #FFFFFF;
    --footer-adress-cont-color: rgba(255, 255, 255, 0.6);
    --portfolio-main-buttons-color: #FFFFFF;
    --portfolio-main-buttons-hover-color: #188CE8;
    --portfolio-main-buttons-background-color: #F5F4FA;
    --main-portf-h3-hero-color: #212121;
    --main-portf-p-hero-color: #757575;
    --current-page-color: #2196F3;
    
}
* 
{
    box-sizing: border-box;
}
p, h1, h2, h3, h4, h5, h6
{
    margin: 0;
}
ul 
{
    list-style: none;
    margin: 0;
    padding: 0;
}
button
{
    cursor: pointer;
}
address
{
    font-style: normal;
    margin-top: 10px;
}
body
{
    font-family: 'Roboto', sans-serif;
}
.conteiner
{
    width: 1200px;
    height: 80px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 215px;
    margin-right: auto;
    margin-left: auto;
}
.visually-hidden 
{
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.link
{
    text-decoration: none;
}
/* <---------- HEDER ----------> */
.header
{
    width: 1600px;
    height: 80px;
    background-color: var(--heade-title-background-color);
}
.header-logo
{
    padding-top: 24px;
    padding-left: 15px;
}
.navigation
{
    display: flex;

}
.nav-logo1, .nav-logo2
{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--header-footer-logo1-color);
}
.nav-logo2 
{
    color: var(--header-logo2-color)
}
.header-nav-text, .header-cont-tex
{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--heade-navigation-color);
}
.header-position-nav
{
    display: flex;
    gap: 50px;
    margin-left: 108px;
    margin-top: 32px;
}
.header-cont-tex
{
    color: var(--heade-contacts-color);
}
.header-position-cont
{
    display: flex;
    gap: 50px;
    margin-left: 863px;
    margin-top: -24px;
}
.header-link:hover,
.footer-link:hover,
.header-link:focus,
.footer-link:focus
{
    color: var(--hover-focus-color)
}
.current 
{
    color: var(--current-page-color)
}
/* <---------- MAIN ----------> */
.main-hero 
{
    width: 1600px;
    height: 600px;
    padding-top: 215px;
    background-color: var(--main-hero-background-color);
    padding-top: 200px;
    padding-left: 452px;

}
.main-hero-h1                   
{
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-h1-color);
}
.main-hero-btn 
{
    width: 200px;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--main-hero-btn-color);
    background-color: var(--main-hero-btn-background-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    margin-left: 248px;
    margin-top: 30px;
    /* padding: 10px 32px; */
}
.main-hero-btn:hover 
{
    background-color: var(--main-hero-btn-hover-background-color)
}
/* ----- About ----- */
.about
{
    max-width: 1170px;
    margin-left: 215px;
    padding-top: 94px;
    padding-bottom: 94px;
}
.about-text
{
    display: flex;
    gap: 30px;
}
.main-about-h3
{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-h3-hero-color);
}
.main-about-p
{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-p-hero-color);
    margin-top: 10px;
}
.item-about
{
    width: 270px;
}
.projects
{
    width: 1170px;
    height: 386px;
    margin-left: 200px;
    margin-bottom: 94px;
}
.projects-h2
{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-h2-hero-color);
}
.projects-imgs
{
    display: flex;
    gap: 30px;
    margin-top: 50px;
}
.team
{
    width: 1600px;
    height: 648px;
    background-color: var(--main-team-background-color);
    padding-top: 94px;
}
.team-h2
{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--main-h2-hero-color);
}
.team-ppl
{
    display: flex;
    gap: 30px;
}
.team-people
{
    width: 270px;
    height: 368px;
    left: 215px;
    top: 1635px;
    background: var(--heade-title-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-top: 50px;
}
.team-ppl-h3
{
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-h2-hero-color);
    margin-top: 30px;
    margin-bottom: 10px;
}
.team-ppl-p
{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-p-hero-color)
}
/* <---------- FOOTER ----------> */
.footer
{
    width: 1600px;
    height: 252px;
    background: var(--footer-background-color);
    padding-top: 60px;
}
.adress-logo1, .adress-logo2
{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--header-footer-logo1-color);
}
.adress-logo2 
{
    color: var(--footer-logo2-color);
}
.footer-adress2, .footer-adress-mail, .footer-adress-tel
{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-adress-text-color);
}
.footer-adress-mail, .footer-adress-tel
{
    color: var(--footer-adress-cont-color);
}
footer li 
{
    margin-top: 10px;
}
.port-buttons
{
    display: flex;
    gap: 8px;
    margin-left: 280px;
    margin-top: 94px; 
}
.port-buts
{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    background: var(--portfolio-main-buttons-background-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: none;
    padding: 6px 22px;    
}
.port-buts:hover
{
    color: var(--portfolio-main-buttons-color);
    background-color: var(--portfolio-main-buttons-hover-color);
}
.port-projects
{
    width: 1170px;
    height: 1454px;
    margin-top: 34px;
    margin-bottom: 94px;
    margin-left: 200px;
}
.port-projects-card-set
{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
    margin-top: 50px;
}
.port-proj-item
{
    flex-basis: calc((100% - 60px) / 3);
    width: 370px;
    height: 404px;
    background: var(--heade-title-background-color);
    border: 1px solid #EEEEEE;
}
.port-h3
{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-portf-h3-hero-color);
    margin-left: 24px;
    margin-top: 20px;
}
.link-port-proj 
{
    color: var(--main-portf-h3-hero-color);
}
.port-p
{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--main-portf-p-hero-color);
    margin-left: 24px;
    margin-top: 4px;
}

