.clients {
  display: none;
}

@include table {
  .clients {
    display: block;
  }
  .client-box {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    &__link {
      display: flex;
      width: 226px;
      @include desktop {
        width: 170px;
      }
      height: 92px;
      fill: var(--fill-logo-icons-color);
      border: 1px solid var(--fill-logo-icons-color);
      border-radius: 4px;
      align-items: center;
      justify-content: center;
      transition: fill 250ms var(--cubic-hover),
        border-color 250ms var(--cubic-hover);
      &:hover,
      &:focus {
        fill: var(--current-page-color);
        border-color: var(--current-page-color);
      }
    }
  }
}
