.footer {
  background: var(--footer-background-color);
  padding: 60px 0px;
}

.footer-list {
  margin-top: 20px;
}

.footer-adress2,
.footer-adress-mail,
.footer-adress-tel {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-adress-text-color);
}

.footer-adress-mail,
.footer-adress-tel {
  color: var(--footer-adress-cont-color);
}

.footer-item:nth-child(n + 2) {
  margin-top: 8px;
  @include desktop {
    margin-top: 9px;
  }
}

@include desktop {
  .footer_inv {
    margin-top: 72px;
    margin-left: 516px;
  }
}

.footer_inv_h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--footer-adress-text-color);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--hover-focus-color);
}

@media (max-width: 1199px) {
  .footer-up {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

@include table {
  .footer-up-box {
    display: flex;
    align-items: baseline;
  }
}

@media (max-width: 1199px) {
  .footer-up-box {
    justify-content: center;
    gap: 165px;
    margin-bottom: 60px;
  }
}
@include desktop {
  .footer-conteiner {
    align-items: baseline;
    display: flex;
  }
}

@include desktop {
  .footer-soc-pos {
    margin-left: 70px;
  }
}

.h2-footer-soc {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--footer-adress-text-color);
  margin-top: 60px;
  text-align: center;
  @include desktop {
    margin-top: 0px;

    text-align: left;
  }
}

.footer-soc {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 60px;
}

.footer-soc-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms var(--cubic-hover);
  &:hover,
  &:focus {
    background-color: var(--hover-focus-color);
  }
}

.footer-soc-icon {
  fill: var(--heade-title-background-color);
}
