.header {
    height: 60px;
    position: relative;
    border-bottom: 1px solid #ececec;
}

.header-conteiner {
    display: flex;
    align-items: center;
}

.navigation {
    display: inline-flex;
    align-items: center;
}

.btn-menu-open {
    position: absolute;
    width: 24px;
    height: 16px;
    top: 22px;
    right: 23px;
    border: none;
    background-color: transparent;
}

.btn-menu-icon-open {
    fill: #000000;
    background-position: center;
    background-repeat: no-repeat;
    transition: fill 250ms var(--cubic-hover);
    &:hover, 
    &:focus {
        fill: var(--hover-focus-color);
    }   
}

.header-position-nav, .header-position-cont {
    display: none;
}

@include table {
    .btn-menu-open, .mob-menu {
        display: none;
    }

    .header {
        width: 100%;
        height: 80px;
    }

    .header-link {
        transition: color 250ms var(--cubic-hover);
            &:hover,
            &:focus {
                color: var(--hover-focus-color);
            }
    }

    .header-nav-text {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.142;
        letter-spacing: 0.02em;
        padding: 32px 0px;
    }

    .header-nav-text {
        color: var(--heade-navigation-color);
        transition: color 250ms var(--cubic-hover);
            &:hover,
            &:focus {
                color: var(--hover-focus-color);
            }
    }

    .header-position-nav {
        display: inline-flex;
        gap: 50px;
        margin-left: 88px;
    }  

    .current {
        position: relative;
        color: var(--current-page-color);
        &::after {
            content: "";
            position: absolute;
            bottom: 1%;
            left: 0;
            width: 100%;
            height: 4px;
            background: #2196f3;
            border-radius: 2px;
        }
    }

    .header-cont-tex {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.166;
        letter-spacing: 0.02em;
        color: var(--heade-contacts-color);
        transition: color 250ms var(--cubic-hover);
    }

    .header-position-cont-mail {
        margin-bottom: 10px;
    }

    .header-position-cont {
        display: block;
        padding: 20px 0px;
        margin-left: auto;
    }

    .icon-mail {
        margin-right: 10px;
        fill: currentColor;
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
        transition: fill 250ms var(--cubic-hover);
    }

    .icon-tel {
        margin-right: 10px;
        fill: currentColor;
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
        transition: fill 250ms var(--cubic-hover);
    }
}

@include desktop {
    .header {
        width: 100%;
        height: 80px;
    }
    .header-position-cont {
        display: inline-flex;
        gap: 30px;
        padding: 32px 0px;
        margin-left: auto;
    }    
    .header-cont-tex {
        font-size: 14px;
        line-height: 1.142;
        letter-spacing: 0.02em;
        margin-left: auto;
    }
    .header-position-cont-mail {
        margin-bottom: 0px;
    }    
}
