.header-logo {
  padding: 16px 0px 16px 0px;
  @include table {
    padding: 26px 0px 26px 0px;
  }
  @include desktop {
    padding: 24px 0px 24px 0px;
  }
}

.logo1,
.logo2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.03em;
  color: var(--header-footer-logo1-color);
  @include desktop {
    font-size: 26px;
    line-height: calc(31 / 26);
  }
}

nav .logo2 {
  color: var(--header-logo2-color);
}

address .logo2 {
  color: var(--footer-logo2-color);
}
