.header-logo {
    padding: 24px 0px 24px 0px;
}

.nav-logo1,
.nav-logo2 {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.39;
    letter-spacing: 0.03em;
    color: var(--header-footer-logo1-color);
}

.nav-logo2 {
    color: var(--header-logo2-color);
}