:root {
    --heade-title-background-color: #ffffff;
    --main-hero-background-color: #c4c4c4;
    --footer-background-color: #2f303a;
    --header-footer-logo1-color: #2196f3;
    --header-logo2-color: #000000;
    --footer-logo2-color: #ffffff;
    --heade-navigation-color: #212121;
    --heade-contacts-color: #757575;
    --hover-focus-color: #2196f3;
    --main-h1-color: #ffffff;
    --titel-h2-color: #212121;
    --main-title-color: #212121;
    --main-pretitle-color: #757575;
    --main-hero-btn-color: #ffffff;
    --main-hero-btn-background-color: #2196f3;
    --main-hero-btn-hover-background-color: #188ce8;
    --main-team-background-color: #f5f4fa;
    --footer-adress-text-color: #ffffff;
    --footer-adress-cont-color: rgba(255, 255, 255, 0.6);
    --portfolio-main-buttons-color: #ffffff;
    --portfolio-main-buttons-hover-color: #188ce8;
    --portfolio-main-buttons-background-color: #f5f4fa;
    --current-page-color: #2196f3;
    --icons-contact-fill: #757575;
    --items-about-background-color: #f5f4fa;
    --border-portf-proj-color: #eeeeee;
    --fill-logo-icons-color: #afb1b8;
    --cubic-hover: cubic-bezier(0.4, 0, 0.2, 1);
}